.Driver {
  position: absolute;
  width: 10px;
  height: 10px;
  background: black;
  -webkit-transition: top 3s, left 3s; /* Safari */
  transition: top 3s, left 3s;
  transition-timing-function: linear;
}
